@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@font-face {
    font-family:'engravers';
    src: url('../fonts/engravers-gothic.otf') format('opentype');
}

@font-face {
    font-family: 'CODE';
    src: url('../fonts/CODE Light.otf') format('opentype');
}

:root {
    --cor01:#F2F2F2;
    --cor02:#A6A6A6;
    --cor03:#737373;
    --cor04:#404040;
    --cor05:#262626;
    --corWPP:#49C557;
    --fontepadrao: 'engravers', sans-serif;
    /* --fontecorpo: 'Roboto', sans-serif; */
    --fontecorpo: 'Noto Serif', serif;;

}


body {
    font-family: var(--fontecorpo);
    background-color: var(--cor03);
    width: 100%;
}

/* section {
    padding: 40px 20px 40px 20px;
} */

p, li {
    font-family: var(--fontecorpo);
    word-spacing: 1px;
    text-align: justify;
    font-size: 0.8em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1em;
}

h1, h2 {
    font-family: var(--fontepadrao);
    font-weight: bold;
    margin: 0 !important;
    padding: 0;
    margin-bottom: 15px !important;
}

header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor02),var(--cor03),var(--cor04),var(--cor05));
    text-align: center; /* Centraliza horizontalmente */
    margin: 0;
}

header img {
    height: 200px;
}

nav {
    justify-content: left;
    text-align: left;
    padding: 10px;
}

nav a {
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition-duration: 0.4s;
}

nav a:hover {
    background-color: white;
    color: var(--cor05);
    border-radius: 10px;
}

main {
    padding: 5px;
    background-color: var(--cor03);
}

/* FORMULÁRIO */

form {
    width: 80%;
    margin: auto;
}

.secaoformulario {
    max-width: 900px;
    border: 1px solid var(--cor03);
    border-radius: 15px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    padding-top: 20px;
}

.secaoformulario textarea {
    resize: none;
}

#divFormulario {
    margin: auto;
}

/* ---------- */

/* NOSSA GENTE */

.secaopadrao {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 50px 40px 50px;
}

.secaopadrao .apresentacaoequipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.secaopadrao .imgapresentacao {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.secaopadrao .lista-curriculo {
    list-style-type: '\1F9BE\00A0\00A0';
    padding: 0;
    padding: 0 20px 0 20px;
    text-align: justify;
    margin-bottom: 20px;
}

.secaopadrao ul li {
    margin-bottom: 5px;
}

/* ---------------- */
/* SEÇÃO SERVIÇOS */

.secaoservicos {
    text-align: justify;
}

.secaoservicos ul {
    /* Define uma cor cinza para a lista da seção */
    color: #666666;
    /* Define um tamanho de fonte de 18 pixels para a lista da seção */
    font-size: 18px;
    /* Define um estilo de lista de círculos para a lista da seção */
    list-style-type: circle;
    /* Define um recuo de 40 pixels para a lista da seção */
    margin-left: 40px;
}

.secaoservicos ul ul {
    /* Define um estilo de lista de quadrados para as sublistas da seção */
    list-style-type: square;
}

/* ---------------- */
/* SEÇÃO DE CONTATOS */

.logos {
    margin-bottom: 20px !important;
}

.contatos {
    padding-top: 20px;
    padding-bottom: 0;
}

.outroslinks, .logos {
    width: fit-content;
    margin: auto;
    display: flex;
    text-align: center;
}

.logos a {
    text-decoration: none;
    color: black;
}

.logos ion-icon:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.outroslinks a {
    text-decoration: none;
    color: black;
}

.outroslinks a:hover {
    text-decoration: underline;
}

/* ------------- */
/* footer */

footer {
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    text-align: center;
    margin: auto;
    margin-bottom: 0;
}

/* BOTÃO WPP */

.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 90px;
    padding: 12px 20px;
    border-radius: 20%;
    z-index: 999;
    background-color: var(--cor01);
    transition: 0.4s;
    box-shadow: 6px 5px 9px 1px rgba(0, 0, 0, 0.188);
    border: 1px solid var(--cor03);
}

.whatsapp-button img {
    max-width: 25px;
}
  
.whatsapp-button:hover {
    background-color: white;
}

/* ------------- */
/* BOTÃO TO-TOP */

.to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 20%;
    z-index: 999;
    background-color: var(--cor01);
    transition: 0.4s;
    box-shadow: 6px 5px 9px 1px rgba(0, 0, 0, 0.188);
    border: 1px solid var(--cor03);
}

.to-top img {
    max-width: 25px;
}
  
.to-top:hover {
    background-color: var(--cor02);
}
/* ------------ */
/* Escondendo campos */

#NosConheca, #Compromissos, 
#NosContratar, #NossosServicos {
    display: none;
}