@charset "UTF-8";


:root {
    --cor01:#F2F2F2;
    --cor02:#A6A6A6;
    --cor03:#737373;
    --cor04:#404040;
    --cor05:#262626;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
}

label {
    min-width: 150px;
    margin-right: 10px;
    font-weight: bold;
}

input,
select,
textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.imagem-lateral {
    flex: 1;
    margin-left: 20px;
}

.imagem-lateral img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
